[submodule "dependencies/CASE"]
	path = dependencies/CASE
	url = https://github.com/casework/CASE.git
	branch = master
[submodule "dependencies/UCO-Profile-Example"]
	path = dependencies/UCO-Profile-Example
	url = https://github.com/ucoProject/UCO-Profile-Example.git
	branch = base
