[submodule "dependencies/CASE"]
	path = dependencies/CASE
	url = https://github.com/casework/CASE.git
	branch = master
[submodule "dependencies/UCO-Profile-gufo"]
	path = dependencies/UCO-Profile-gufo
	url = https://github.com/ucoProject/UCO-Profile-gufo.git
	branch = main
